@import url(./__copyright/footer__copyright.css);

.footer {
    width: 100%;
    max-width: 882px;
    margin: 0 auto;
    padding: 66px 0 60px;
}

@media screen and (max-width: 918px) {
    .footer {
        max-width: 582px;
        padding: 66px 19px 60px;
    }
}

@media screen and (max-width: 390px) {
    .footer {
        max-width: 282px;
        padding: 48px 19px 36px;
    }
}