.popup__button_type_login {
    background: white;
    margin-top: 216px;
    align-self: center;
    min-width: 358px;
    min-height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    border-radius: 2px;
    color: black;
    border: none;
    transition: 0.7s ease;
}

.popup__button_type_login:hover {
    opacity: 0.8;
    cursor: pointer;
}