.popup__input_type_sign {
    background-color: black;
    border-bottom: solid 2px #CCCCCC;
    color: white;
    outline: none;
}

.popup__input_type_sign::placeholder {
    font-size: 14px;
    color: #CCCCCC;
}