.popup__close-btn {
  width: 45px;
  height: 45px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.15s linear;
  position: absolute;
  top: -40px;
  right: -40px
}

.popup__close-btn:hover {
  opacity: 0.6;
}
